NEXT_PUBLIC_API_URL=http://localhost:8000/

# DATABASE
DATABASE_URL=postgresql://postgres:admin123@localhost:5432/anaqa-next?schema=public

# BETTER AUTH
BETTER_AUTH_SECRET=WP3x9XPuY6NKvC6ThvHRNwRgp7Oi3tyU
BETTER_AUTH_URL=http://localhost:3000

# Mailer Configuration
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=465
SMTP_SERVICE='gmail'
SMTP_USER='<you@example.com>'
SMTP_PASS='<your-app-password>'
EMAIL_FROM="Anaqa <your-email@example.com>"